html {
	font-family: allumi-std, sans-serif;
	font-weight: 150;
	font-style: normal;
}

body {
    background-color: #c587eb;
    margin: 0;
}

header {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}

nav ul {
    display: flex;
    justify-content: space-around;
    text-align: justify;
    list-style: none;
    background-color: #0000003f;
    border-bottom: 2px solid white;
    padding: 35px;
    margin-top: 0;
    box-shadow: 0px 1px 20px #00000050;
}

nav a {
	text-decoration: none;
	color: white;
	font-size: large;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

nav a:hover {
	background-color: #ffffff15;
	border-radius: 5px 5px 5px 5px;
	transition: color 0.5s ease;
	transition: background 0.6s ease;
}

#Logonavbar {
	font-family: aisha-latin, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: white;
	transform: scale(2.5);
	padding-bottom: 2px;
}

nav:hover #Logonavbar {
	transform: scale(3);
	padding-bottom: 2px;
	color: #FF9300;
	text-shadow: 0px 0px 0.2px;
	transition: 0.5s ease;
}

nav:hover ul {
	border-bottom-color: #FF9300;
	transition: border 0.2s ease;
}

nav:hover a {
	color: white;
	text-shadow: 0px 0px 0.5px;
	transition: 0.2s ease;
}

nav a:hover {
	color: #FF9300;
}

#Accueil {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40em;
}

#Bienvenue {
	font-family: agenda,sans-serif;
	font-weight: 700;
	font-style: normal;
	color: white;
	font-size: 4em;
	display: flex;
	flex-direction: row;
    justify-content: center;
    text-align: justify;
    height: 1.8em;
    background-position: 0px 100px;
}

#Bienvenueh2 {
	animation: AnimBienvenue 1s;
	animation-delay: 1.2s;
	animation-fill-mode: backwards;
	font-size: 3.5em;
	color: #FF9300;
}

@keyframes AnimBienvenue {

	0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 100;
    }
}

#Bienvenue #W{
	-webkit-animation: AnimBienvenue 1s;
	animation : AnimBienvenue 1s;
	animation-delay: 0.8s;
	animation-fill-mode: backwards;}

#Bienvenue #E{
	-webkit-animation: AnimBienvenue 1s;
	animation: AnimBienvenue 1s;
	animation-delay: 0.6s;
	animation-fill-mode: backwards;}

#Bienvenue #B{
	-webkit-animation: AnimBienvenue 1s;
	animation: AnimBienvenue 1s;
	animation-delay: 0.4s;
	animation-fill-mode: backwards;}

#Bienvenue #S{
	-webkit-animation: AnimBienvenue 1s;
	animation: AnimBienvenue 1s;
	animation-delay: 0.2s;
	animation-fill-mode: backwards;}

#Bienvenue #E2{
	-webkit-animation: AnimBienvenue 1s;
	animation: AnimBienvenue 1s;
	animation-delay: 0.4s;
	animation-fill-mode: backwards;}

#Bienvenue #R{
	-webkit-animation: AnimBienvenue 1s;
	animation: AnimBienvenue 1s;
	animation-delay: 0.6s;
	animation-fill-mode: backwards;}

#Bienvenue #V{
	-webkit-animation: AnimBienvenue 1s;
	animation: AnimBienvenue 1s;
	animation-delay: 0.8s;
	animation-fill-mode: backwards;}
